.categoryCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  background-color: #161616;
  overflow: hidden;
  padding: 0 0 11px;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin: 0;
  padding: 8px 20px 0;
}

.count {
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  color: white;
  margin: 0;
  padding: 5px 20px 0;
}
