.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: rgba(22, 22, 22, 0.8);
  z-index: 99;
  padding: 30px 10px;
  gap: 15px;
}

.popup_open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 16/9;
  width: 95%;
  max-width: 1280px;
  background: url('/images/loader.svg') center no-repeat;
}

.image {
  display: block;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 25px 0 0;
  padding: 0 10px 0;
  text-align: center;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.button {
  margin: 0 auto;
}

.buttonBack {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  margin: 15px auto 0;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  transition: all 0.3s;
  color: var(--text-color);
}

.buttonBack:hover {
  opacity: 0.7;
}

.checkboxGroupWrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    line-height: 26px;
  }

  .price {
    font-size: 20px;
    line-height: 26px;
  }

  .checkboxGroupWrapper {
    flex-direction: row;
    gap: 25px;
  }
}
