.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #161616;
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 0 0 15px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  grid-row: 1/2;
  grid-column: 1/2;
  cursor: pointer;
}

.image {
  transition: opacity 0.3s ease-in-out;
}

.imageWrapper:hover .image {
  opacity: 0.7;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 15px 20px 10px;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 3px 20px 5px;
}

.button {
  margin: 10px auto 0;
}
