.main {
  padding: 76px 20px 20px;
  width: 100%;
  max-width: 1340px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 81px 40px 50px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 81px 60px 50px;
  }
}
