.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  transition: all 0.3s;
  flex-shrink: 0;
}

.input:checked {
  border: 4px solid white;
  background-color: var(--accent-color1);
}

.label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin: 0;
}
