.mobileMenu {
  display: flex;
  justify-content: flex-end;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100vh;
  overflow: hidden;

  backdrop-filter: blur(10px);
  background: rgba(22, 22, 22, 0.8);
  z-index: 99;

  transition: all 0.3s ease-in-out;
}

.mobileMenu_open {
  bottom: 0;
}

.mobileMenu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 25px;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

.mobileMenu__item {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 31px;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}

.mobileMenu__item:hover {
  opacity: 0.7;
}

.mobileMenu__item_active {
  color: #e10000;
}

.mobileMenu__close {
  background: url(/images/icon-close.svg) center no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 13px;
  right: 12px;
  cursor: pointer;
  border: none;
  outline: none;
}
