.title {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0 0 20px;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px 0 15px;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0;
  padding: 0 0 10px;
}

.text_bold {
  font-weight: 600;
}

.subtotal {
  text-align: right;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  padding: 20px 0 10px;
  margin: 0;
}

.subtotal::before {
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  height: 2px;
  margin: 5px 0 20px;
}

.total {
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 0 0 15px;
  margin: 0;
}

.listItems {
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.listItem__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0;
  padding: 0;
}

.listItem__price {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 0 0 25px;
  }
}
