.label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.error {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--accent-color1);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
  transition: all 0.3s;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.payment {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  width: 100%;
  margin: 20px 0 0;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 20px 0 15px;
}
