.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0 0 20px;
}

.button {
  display: block;
  border: none;
  outline: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  margin: 35px auto 15px;
  max-width: 75%;
  padding: 10px 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card__large {
    grid-column: 1/-1;
  }

  .title {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .card__large {
    grid-column: span 3;
  }
  .card__small {
    grid-column: span 2;
  }
  .title {
    padding: 0 0 25px;
  }
}

@media screen and (min-width: 1280px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .card__large {
    grid-column: span 2;
  }
  .card__small {
    grid-column: span 1;
  }

  .title {
    font-size: 26px;
    line-height: 31px;
  }
}
