.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0 0 20px;
}
