.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  margin: 35px auto 0;
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card__large {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .card__large {
    grid-column: span 3;
  }
  .card__small {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1280px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .card__large {
    grid-column: span 2;
  }
  .card__small {
    grid-column: span 1;
  }
}
