.title {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding: 0 0 20px;
}

.orderContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .orderContainer {
    padding: 25px;
    border-radius: 10px;
    background-color: var(--background-color2);
  }
}
@media screen and (min-width: 1024px) {
  .title {
    padding: 0 0 25px;
    text-align: left;
  }
}
