.title {
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 40px;
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding: 0 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    text-align: left;
    padding: 0 0 25px;
  }
}
