.menu {
  align-self: center;
  padding: 0 20px 0 0;
}

.menu__items {
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.menu__item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.menu__item:hover {
  opacity: 0.7;
}

.menu__item_active {
  color: var(--accent-color1);
}

.menu__item_active:hover {
  opacity: 1;
}

.menu__cartWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.menu__cartWrapper:hover {
  opacity: 0.7;
}

.menu__cart {
  display: block;
  background: url('/images/cart-shopping-solid.svg') center no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  height: 15px;
  width: 15px;
  margin: 0;
  padding: 0;
}

.menu__cartCount {
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
